.btn-succes{
    margin: 16px;
    height: 16px;
    display: inline;
    border: 0;
}

h1{
    margin: 0px 0px 19px;
    padding-right: 10px; 
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
    flex: 1;
}

.container-flex {
    align-items: first baseline;
    height: 100px;
    display: flex;
    justify-content: end;

}
